<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="UTF-8">
	<title><%= meta.title %></title>

	<!-- meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="<%= meta.keywords %>">
	<meta name="description" content="<%= meta.description %>">
	<meta name="copyright" content="Copyright(C) SHINEI All Rights Reserved.">

	<!-- //トップページはwebsite、個別ページはarticle -->
	<meta property="og:type" content="website">
	<meta property="og:description" content="<%= meta.description %>">
	<meta property="og:image" content="<%= meta.path %>common/img/ogImg.png">
	<meta property="og:image:alt" content="<%= meta.title %>">
	<meta property="og:site_name" content="<%= meta.title %>">
	<meta property="og:locale" content="ja_JP">

	<link rel="stylesheet" href="<%= meta.path %>common/css/style.css">
	<link rel="stylesheet" href="<%= meta.path %>common/css/js-fadeIn.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Noto+Serif+JP:wght@300;400;500&display=swap">
</head>

<body id="pageTop" class="top">
	<div class="navToggle">
		<span></span><span></span><span></span><span>MENU</span>
	</div>

	<div class="headBg">
		<header class="header">
			<div class="header__wrap">
				<div class="logo">
					<a href="<%= meta.path %>" >
						<img src="<%= meta.path %>common/img/layout/header/hLogo.svg" alt="株式会社SHINEI">
					</a>
				</div>
				<nav class="global-nav" id="js-nav">
					<ul class="global-nav__list">
						<li class="global-nav__list-item">
							<a href="<%= meta.path %>" class="global-nav__list-link">
								トップ
							</a>
						</li>
						<li class="global-nav__list-item">
							<a href="<%= meta.path %>#company" class="global-nav__list-link">
								会社案内
							</a>
						</li>
						<li class="global-nav__list-item">
							<a href="<%= meta.path %>#business" class="global-nav__list-link">
								事業内容
							</a>
						</li>
						<li class="global-nav__list-item">
							<a href="<%= meta.path %>#price" class="global-nav__list-link">
								料金について
							</a>
						</li>
						<li class="global-nav__list-item">
							<a href="<%= meta.path %>#access" class="global-nav__list-link">
								アクセス
							</a>
						</li>
						<li class="global-nav__list-item">
							<a href="<%= meta.path %>#contact" class="global-nav__list-link">
								お問合せ
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="top-msg">
			<div class="top-msg__wrap">
				<h1>
					<span>循環型社会実現</span>のために。
				</h1>
				<p>
					地球環境に対する意識が高まり、循環型社会の実現が叫ばれる現在、<br class="forPc">
					解体事業・リサイクル事業に取り組む私たち株式会社SHINEIの役割と責任は<br>
					以前にも増して、より大きくなってきています。<br>
					限りある資源を有効活用するためには、<br class="forPc">
					解体工事で発生する廃棄物を最大限に再資源化することが欠かせません。<br>
					私たちは法令遵守に基づいて産業廃棄物を適正に処理することはもちろん、品目ごとに分別することによって<br class="forPc">
					「資源の3R」（リデュース・リユース・リサイクル）の実現に努めています。<br>
					私たち株式会社SHINEIは資源の再資源化によって明るく健やかでクリーンな未来作りに貢献していきます。
				</p>
			</div>
		</div>
	</div>
